* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: #080707;
  color: #f2eee9;

  font-family: 'Inter', sans-serif;

  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea,
select {
  font: inherit;
}

::selection {
  background: #ff4312;
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #080707;
}

::-webkit-scrollbar-thumb {
  background: #33201c;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4312;
}